body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url("https://wallpaperaccess.com/full/9162808.jpg");
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh;
   
}

.left {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.right {
    display: flex;
    align-items: center;
    padding: 1vw;
    border-radius: 5px;
}

.item {
    color: white;
    text-decoration: none;
    margin-right: 2vw;
}

.item:hover {
    text-decoration: underline;
}

.sidebar {
    display: none;
    font-size: 3vh;
    cursor: pointer;
    color: white;
    padding: 1vh;
    border-radius: 5vw;
}

#hidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    background-color: yellow;
    padding: 2vh;
    z-index: 100;
}

#hidebar.active {
    display: block;
}

.sidebar-item {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 2vh;
}

.sidebar-item:hover {
    text-decoration: underline;
}

.close {
    background: none;
    border: none;
    color: black;
    font-size: 2.4vh;
    cursor: pointer;
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    .right {
        display: none;
    }

    .sidebar {
        display: block;
    }
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw; 
    margin-left: auto;
    padding: 20px;
    background-color: rgba(201, 196, 196, 0.8); 
     color: rgb(0, 0, 0);
    border-radius: 5vw;
}

h2 {
    color: gold;
    margin-bottom: 20px;
}

p {
    margin: 0;
    line-height: 1.6; }
